:root {
  --primaryColor: #25b15d;
  --primaryColor50: #25b15d55;
  --primaryColor10: #25b15d10;
  --primaryColorDark: #106c35;
  --gray: #b4b4b4;
  --grayLight: #dedede;
  --grayExtraLight: #f7f7f7b1;
}

* {
  outline: none !important;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
}

p {
  font-size: 0.9rem;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}
a:hover {
  color: var(--primaryColorDark);
  text-decoration: none;
}

.me-1 {
  margin-inline-end: 5px;
}

.me-2 {
  margin-inline-end: 10px;
}

.color-gray {
  color: var(--gray);
}

.danger {
  color: #f00;
}

.btn-action {
  min-width: unset !important;
  padding: 0px !important;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 0;
  font-size: 13px;
  border-radius: 500px !important;
}

.btn-primary {
  color: #fff;
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--primaryColorDark);
  border-color: var(--primaryColorDark);
}

.btn-primary-light {
  color: var(--primaryColor);
  background-color: var(--primaryColor10);
  border-color: var(--primaryColor10);
}

.btn-outline-primary {
  color: var(--primaryColor);
  background-color: transparent;
  background-image: none;
  border-color: var(--primaryColor);
}
.btn-outline-primary:hover {
  color: var(--primaryColorDark);
  background-color: transparent;
  border-color: var(--primaryColorDark);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--primaryColorDark);
  border-color: var(--primaryColorDark);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: var(--primaryColorDark);
  background-color: transparent;
  border-color: var(--primaryColorDark);
}

.btn {
  box-shadow: none !important;
  padding: 0.375rem 1.3rem;
}
.btn.disabled, .btn:disabled {
  color: #fff;
  background-color: var(--gray);
  border-color: var(--gray);
}
.btn.btn-min-width {
  min-width: 210px;
}
.btn.color-danger {
  color: #f00;
}

.page-content-75 {
  width: 75%;
}

.page-content-50 {
  width: 50%;
}

.page-content-100 {
  width: 100%;
}

.form-control {
  box-shadow: none !important;
  border-radius: 10px;
}
.form-control:focus {
  border-color: var(--primaryColor);
}

.color-primary {
  color: var(--primaryColor);
}

.reset-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.reset-ul a {
  text-decoration: none;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body-wrapper.homepage nav.top-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 2;
  border-bottom: none;
}
.body-wrapper.homepage nav.top-nav-wrapper .container {
  border-bottom: 1px solid #fff;
}
.body-wrapper.homepage nav.top-nav-wrapper .container ul.menu-items > li.menu-item > a.menu-link {
  padding: 15px 15px;
  color: #fff;
}
.body-wrapper.homepage nav.top-nav-wrapper .container .authorized-user-icon-wrapper .user-name {
  color: #fff;
}
.body-wrapper.homepage nav.top-nav-wrapper .container .authorized-user-icon-wrapper .dropdown > a.menu-link i {
  color: #fff;
}
.body-wrapper.homepage nav.top-nav-wrapper .container .authorized-user-icon-wrapper .dropdown > a.menu-link:hover i {
  color: #fff !important;
}
.body-wrapper.homepage .main-page-wrapper {
  background-image: url(../images/pattern-green.png);
  background-size: 50%;
  background-position: center center;
  background-repeat: repeat;
}

.bold {
  font-weight: bold;
}

label {
  font-size: 14px;
}

.title-wrapper .title {
  font-size: 22px;
}

.text-icon-wrapper {
  display: flex;
  align-items: center;
}
.text-icon-wrapper * {
  margin: 0;
  padding: 0;
}
.text-icon-wrapper i,
.text-icon-wrapper .icon,
.text-icon-wrapper img {
  margin-inline-end: 10px;
}
.text-icon-wrapper i,
.text-icon-wrapper img {
  line-height: 0;
}

.flag-sm {
  width: 16px;
}

.btn {
  border-radius: 10px;
}

.btn-link {
  font-weight: 400;
  color: var(--primaryColor);
  background-color: transparent;
  text-decoration: none !important;
  padding: 0px !important;
}
.btn-link:hover {
  color: var(--primaryColor);
}

.custom-card {
  background: #fff;
  border-radius: 15px;
  border: 1px solid var(--primaryColor50);
}

.main-page-wrapper {
  background-image: url(../images/pattern-green.png);
  background-size: 50%;
  background-position: -100px 0px;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.main-page-wrapper.no-bg {
  background: none !important;
}

.dropdown .dropdown-item:active {
  background-color: var(--primaryColor);
  color: #fff !important;
}
.dropdown .menu-link i {
  margin-inline-start: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-with-icon-wrapper {
  position: relative;
}
.input-with-icon-wrapper i {
  position: absolute;
  top: 0;
  padding: 11px;
  background: transparent;
  opacity: 0.6;
}
.input-with-icon-wrapper input {
  padding-left: 30px;
  padding-right: 30px;
}
.input-with-icon-wrapper input::placeholder {
  opacity: 0.6;
  font-size: 14px;
}
.input-with-icon-wrapper .icon-image {
  position: absolute;
  top: 0;
  padding: 10px;
  width: 38px;
}
.input-with-icon-wrapper.phone-wrapper .iti__flag-container {
  right: 35px !important;
}
.input-with-icon-wrapper.phone-wrapper input.phone {
  padding-right: 92px;
}

.input-with-submit-button {
  position: relative;
}
.input-with-submit-button a.btn {
  position: absolute;
  top: 0;
  right: 0;
}

.custom-checkbox .custom-control-label {
  padding-inline-end: 25px;
  padding-inline-start: 25px;
}
.custom-checkbox .custom-control-label::before {
  background-color: #fff;
  border: 2px solid #1d8647;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primaryColorDark);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: var(--primaryColorDark);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
}

.social-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.social-buttons-wrapper a.social-link {
  background: #fff;
  padding: 10px;
  border: 1px solid var(--primaryColor50);
  width: 190px;
  border-radius: 10px;
  margin: 0 5px;
  color: #000;
}
.social-buttons-wrapper a.social-link img {
  margin: 0 5px;
}

.action-success-wrapper,
.action-failed-wrapper {
  padding: 10px;
}
.action-success-wrapper img,
.action-failed-wrapper img {
  width: 220px;
}

ul.custom-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.custom-ul li {
  position: relative;
  padding-inline-start: 15px;
}
ul.custom-ul li::before {
  content: "";
  position: absolute;
  background: var(--primaryColor);
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 8px;
  left: 0px;
  border-radius: 50px;
}

.custom-accordion .card {
  border-radius: unset !important;
  background: transparent;
  border: none;
}
.custom-accordion .card-header {
  background: transparent;
  border-radius: unset !important;
  padding: 10px;
  border: none;
}
.custom-accordion .card-header button {
  border-radius: 0;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  font-size: 22px;
  color: var(--primaryColor);
  font-weight: bold;
}
.custom-accordion .card-header button:hover {
  text-decoration: none;
}
.custom-accordion .btn-link:after {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 20px;
  font-size: 18px;
}
.custom-accordion .btn-link.collapsed:after {
  content: "\f107";
}

.fi,
.flag-icon {
  margin-inline-end: 5px;
}

.modal .modal-content {
  border-radius: 20px;
}

.reset-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.reset-btn:after {
  display: none;
}

.relative {
  position: relative;
}

button:focus {
  outline: none !important;
}

.time-card {
  border: 1px solid var(--grayExtraLight);
  padding: 20px;
  border-radius: 10px;
}
.time-card:hover {
  box-shadow: var(--primaryColor50) 0px 8px 24px;
  border-color: #fff;
}
.time-card:hover *:not(.btn) {
  color: var(--primaryColor);
}

.instruction-card img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-bottom: 10px;
}

nav.top-nav-wrapper {
  border-bottom: 1px solid var(--primaryColor50);
}
nav.top-nav-wrapper .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.top-nav-wrapper .top-nav .logo-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.top-nav-wrapper .top-nav .logo-menu-wrapper .logo {
  width: 80px;
}
nav.top-nav-wrapper .top-nav .logo-menu-wrapper ul.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
nav.top-nav-wrapper .top-nav .logo-menu-wrapper ul.menu-items > li.menu-item.dropdown .dropdown-menu > a.menu-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}
nav.top-nav-wrapper .top-nav .logo-menu-wrapper ul.menu-items > li.menu-item.dropdown .dropdown-menu > a.menu-link.active {
  color: #fff;
  background: var(--primaryColor) !important;
}
nav.top-nav-wrapper .top-nav .logo-menu-wrapper ul.menu-items > li.menu-item > a.menu-link {
  padding: 15px 15px;
  text-decoration: none;
  color: #000;
  display: flex;
  cursor: pointer;
}
nav.top-nav-wrapper .top-nav .logo-menu-wrapper ul.menu-items > li.menu-item > a.menu-link.active {
  color: var(--primaryColor) !important;
}
nav.top-nav-wrapper .top-nav .authorized-user-icon-wrapper .user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
nav.top-nav-wrapper .top-nav .authorized-user-icon-wrapper .dropdown > a.menu-link:hover {
  color: var(--primaryColorDark) !important;
}
nav.top-nav-wrapper .top-nav .authorized-user-icon-wrapper .dropdown > a.menu-link:hover i {
  color: var(--primaryColorDark) !important;
}
nav.top-nav-wrapper .top-nav .authorized-user-icon-wrapper .dropdown a.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000;
}
nav.top-nav-wrapper .top-nav .authorized-user-icon-wrapper .dropdown a.menu-link i {
  color: #000;
  margin: 0 5px;
  font-size: 14px;
}
nav.top-nav-wrapper #hide-menu-btn {
  display: none;
  cursor: pointer;
}

.mobile-bar-menu-wrapper {
  display: none;
}

footer.footer-wrapper {
  background-color: var(--primaryColor);
  color: #fff;
  line-height: 1.8;
  background-image: url(../images/pattern-white.png);
  background-size: 50%;
  background-repeat: no-repeat;
}
footer.footer-wrapper * {
  color: #fff;
}
footer.footer-wrapper .logo {
  width: 140px;
  margin-bottom: 20px;
}
footer.footer-wrapper ul li {
  line-height: 2.5;
}
footer.footer-wrapper .footer-body-wrapper {
  padding: 50px 0;
}

.intro-slider-wrapper .swiper {
  width: 100%;
  height: 85vh;
}
.intro-slider-wrapper .swiper .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
  opacity: 0.5;
}
.intro-slider-wrapper .swiper .swiper-pagination-bullet-active {
  width: 40px !important;
  border-radius: 30px;
  opacity: 1;
}
.intro-slider-wrapper .swiper .swiper-pagination {
  transform: translate3d(0, -60px, 0);
}
.intro-slider-wrapper .swiper .swiper-slide {
  position: relative;
}
.intro-slider-wrapper .swiper .swiper-slide:after {
  content: "";
  position: absolute;
  background: RGBA(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.intro-slider-wrapper .swiper .swiper-slide .swiper-slide-content {
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.intro-slider-wrapper .swiper .swiper-slide .swiper-slide-content * {
  z-index: 2;
}

.search-filter-wrapper {
  margin-top: -115px;
  z-index: 2;
  position: relative;
}
.search-filter-wrapper .search-filter-form-container {
  background: #fff;
  border-radius: 25px;
  padding: 30px 30px;
}
.search-filter-wrapper .search-filter-form-container .action {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.select-date-wrapper .select-date-container {
  background: #fff;
  border-radius: 25px;
  padding: 15px 15px;
}

.available-time-cards {
  padding: 30px 30px;
  border-radius: 25px;
}
.available-time-cards .text-icon-wrapper.image {
  align-items: center;
}
.available-time-cards .text-icon-wrapper.image img {
  margin-top: 0px;
}

.change-quantity-wrapper .counter {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f6f6f6;
  border-radius: 5px;
  overflow: hidden;
}
.change-quantity-wrapper .counter input {
  width: 60px;
  height: 35px;
  border: 0;
  line-height: 0;
  font-size: 18px;
  text-align: center;
  background: #f6f6f6;
  color: #3f3f3f;
  appearance: none;
  outline: 0;
}
.change-quantity-wrapper .counter span {
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background: var(--primaryColor);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-quantity-wrapper .counter span i {
  font-size: 16px;
}

.disabled,
:disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.iti {
  display: block;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--primaryColor);
}

.flatpickr-months .flatpickr-month {
  height: 45px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom {
  position: relative !important;
  inset: unset !important;
}

.hijri-input-wrapper {
  display: flex;
  flex-direction: column;
}
.hijri-input-wrapper input.hijri-date-input {
  width: 100%;
  margin-bottom: 20px;
  opacity: 0;
  position: absolute;
  top: -20000;
}
.hijri-input-wrapper .bootstrap-datetimepicker-widget .list-unstyled {
  padding: 0;
}
.hijri-input-wrapper .datepicker {
  width: 100%;
}
.hijri-input-wrapper .datepicker tbody tr > td.day.today {
  background: var(--primaryColor) !important;
}
.hijri-input-wrapper .bootstrap-datetimepicker-widget table td span {
  color: var(--primaryColor);
  font-weight: bold;
}
.hijri-input-wrapper .bootstrap-datetimepicker-widget table th.picker-switch {
  color: var(--primaryColor);
  font-size: 18px;
  padding: 10px;
}
.hijri-input-wrapper .datepicker tbody tr > td span.hour.active,
.hijri-input-wrapper .datepicker tbody tr > td span.hour.active.focused:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.hour.active:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.hour.focused,
.hijri-input-wrapper .datepicker tbody tr > td span.hour.focused:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.minute.active,
.hijri-input-wrapper .datepicker tbody tr > td span.minute.active.focused:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.minute.active:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.minute.focused,
.hijri-input-wrapper .datepicker tbody tr > td span.minute.focused:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.month.active,
.hijri-input-wrapper .datepicker tbody tr > td span.month.active.focused:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.month.active:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.month.focused,
.hijri-input-wrapper .datepicker tbody tr > td span.month.focused:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.year.active,
.hijri-input-wrapper .datepicker tbody tr > td span.year.active.focused:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.year.active:hover,
.hijri-input-wrapper .datepicker tbody tr > td span.year.focused,
.hijri-input-wrapper .datepicker tbody tr > td span.year.focused:hover {
  background: var(--primaryColor);
}
.hijri-input-wrapper .datepicker thead th.datepicker-switch,
.hijri-input-wrapper .datepicker thead th.next,
.hijri-input-wrapper .datepicker thead th.prev {
  font-size: 32px;
  color: var(--primaryColor);
  font-weight: bold;
}

.bootstrap-datetimepicker-widget.dropdown-menu:after,
.bootstrap-datetimepicker-widget.dropdown-menu:before {
  display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom {
  border: none !important;
}

.datepicker tbody tr > td,
.datepicker thead tr > th {
  border: 1px solid #f2f2f2;
}

.datepicker tbody tr > td.day.active,
.datepicker tbody tr > td.day.active:hover,
.datepicker tbody tr > td.day.selected,
.datepicker tbody tr > td.day.selected:hover {
  background: var(--primaryColor);
}

.custom-control {
  padding: 0 !important;
}

/*  CUSTOM RADIO CSS START  */
.option-container {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  padding-left: 30px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.option-container.option-inline {
  display: inline-flex;
  width: auto;
}
.option-container.right-circle {
  padding-left: 0px;
}
.option-container.right-circle .checkmark {
  left: unset;
  right: 0;
}
.option-container.disabled {
  opacity: 0.5;
}
.option-container .option-icon {
  width: 25px;
}
.option-container:hover input ~ .checkmark {
  background-color: #fff;
}
.option-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.option-container .checkmark {
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 0px;
  border: 2px solid var(--gray);
  background: #fff;
}
.option-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.option-container .checkmark:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}
.option-container input:checked ~ .checkmark {
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}
.option-container input:checked ~ .checkmark:after {
  display: block;
}
.option-container.checkbox-input input:checked ~ .checkmark:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.lang-and-currency-options .option-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default .option-container {
  font-size: 14px;
  padding-left: 0;
  margin-right: 5px;
  flex-grow: 1;
}
.default .option-container .checkmark {
  min-width: 65px;
  height: 40px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.default .option-container input[disabled] + .checkmark {
  opacity: 0.4 !important;
}
.default .option-container input:checked ~ .checkmark {
  background-color: #fff;
}
.default .option-container .checkmark:after {
  background: unset;
}

.attributes-options.colors .option-container input:first-child:checked ~ .checkmark {
  margin-left: 5px;
}

.attributes-options.colors .option-container .checkmark {
  background-size: 100%;
}

.attributes-options-wrapper {
  display: flex;
}

.attributes-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.attributes-options .options {
  margin-bottom: 20px;
}

.attributes .label {
  font-weight: bold;
  font-size: 14px !important;
  width: fit-content;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 5px;
  width: 120px;
}

/* CUSTOM RADIO CSS END  */
.checkout-total-wrapper {
  height: auto;
}
.checkout-total-wrapper .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.checkout-total-wrapper .price p.current-price {
  font-size: 22px;
  color: var(--primaryColor);
  font-weight: bold;
  margin: 0;
  margin-inline-end: 10px;
}
.checkout-total-wrapper .old-price {
  font-size: 16px;
  color: #f00;
  text-decoration: line-through;
  margin-bottom: 0;
  line-height: 1.1;
  margin-inline-start: 8px;
}

.select2-selection {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #555555;
  font-size: 14px;
  outline: 0;
  min-height: 35px;
}

.select2-selection__rendered {
  padding: 0.2rem 0.7rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #25b15d;
  color: white;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
}

.select2-container--default .select2-selection--single {
  border: 1px solid var(--grayLight) !important;
  border-radius: 10px;
}

.select2-dropdown {
  border: 1px solid var(--grayLight) !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid var(--grayLight) !important;
}

.social-media-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-media-links .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  margin-inline-end: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.social-media-links .icon-wrapper:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.social-media-links .instagram {
  font-size: 16px;
  line-height: 250px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.social-media-links .facebook {
  background: #1877f2;
}
.social-media-links .twitter {
  background: #1d9bf0;
}

.activate-inputs-container {
  width: fit-content;
}
.activate-inputs-container .activate-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: fit-content;
  margin: auto;
}
.activate-inputs-container .activate-inputs input {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  border: none;
  margin: 5px;
  text-align: center;
  color: var(--secondaryColor);
  font-size: 28px;
  font-weight: bold;
  border: 2px solid var(--grayLight);
}
.activate-inputs-container .activate-inputs input:focus {
  border-color: var(--primaryColorDark) !important;
  outline: none !important;
}

.form-group .input-with-country-code {
  padding-left: 90px !important;
}
.form-group .country-code-container {
  position: absolute;
  top: 28px;
  left: 0;
}
.form-group .country-code-container img {
  width: 20px;
  height: 14px;
  margin-right: 5px;
  border-radius: 3px;
}
.form-group .country-code-container button {
  height: 38px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90px;
  color: #495057;
  padding: 13px;
}
.form-group .country-code-container .dropdown-menu {
  padding: 0;
  overflow: hidden;
  left: -1px !important;
  border: 1px solid #b6b6b6;
  margin: 0;
}
.form-group .country-code-container .dropdown-menu .dropdown-item {
  padding: 5px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.form-group .country-code-container .dropdown-menu .dropdown-item:hover {
  background: var(--primaryColor);
  color: #fff;
}
.form-group .country-code-container .dropdown-menu .fa-chevron-down {
  display: none !important;
}
.form-group .country-code-container .fa-chevron-down {
  position: relative;
  color: #495057 !important;
  font-size: 13px !important;
  margin-top: 0;
  padding: 5px;
}

.select-gender-wrapper input[type=radio] {
  display: none;
}
.select-gender-wrapper input[type=radio]:checked ~ .label-male,
.select-gender-wrapper input[type=radio]:checked ~ .label-female {
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
}
.select-gender-wrapper .gender-radio-wrapper {
  display: inline-block;
  cursor: pointer;
}
.select-gender-wrapper .gender-radio-wrapper .form-check-label {
  width: 60px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-size: 38px 38px;
  border: 2px solid #eaeaea;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: var(--primaryColor);
  border-radius: 50px;
  color: #fff !important;
  margin-right: 4px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: var(--primaryColorDark);
  border-radius: 50px;
  color: #fff !important;
  margin-right: 4px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}

.dataTables_wrapper .paginate_button.previous,
.dataTables_wrapper .paginate_button.next {
  background: var(--primaryColor) !important;
  border-radius: 50px !important;
  color: #fff !important;
  margin-right: 4px !important;
  width: 100px !important;
  height: 35px !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.dataTables_wrapper .paginate_button.previous:hover,
.dataTables_wrapper .paginate_button.next:hover {
  background: var(--primaryColorDark) !important;
  border-color: var(--primaryColorDark) !important;
}
.dataTables_wrapper .paginate_button.previous.disabled,
.dataTables_wrapper .paginate_button.next.disabled {
  color: #fff !important;
  opacity: 0.4;
}
.dataTables_wrapper .paginate_button.previous.disabled:hover,
.dataTables_wrapper .paginate_button.next.disabled:hover {
  background: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
  color: #fff !important;
}

.dataTables_length select {
  background: #fff !important;
  border-radius: 10px !important;
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: 10px;
}

.dataTables_wrapper .thead-light th {
  color: #fff;
  background-color: var(--primaryColor);
  border-top: none;
  border-color: #d3deeb;
  font-weight: normal;
  font-size: 12px;
}

.dataTables_wrapper .dataTables_filter input:focus {
  border-color: var(--primaryColor);
  outline: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  box-shadow: unset !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: var(--primaryColorDark);
  border-color: var(--primaryColorDark);
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: unset !important;
  margin-inline-start: 10px !important;
}

#count-down-numbers {
  width: fit-content;
  margin: auto;
  border-radius: 9px;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
}
#count-down-numbers * {
  color: var(--primaryColorDark);
}

.tickets-count-label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
}

.custom-label {
  background: #3d3d3d;
  text-align: center;
  color: #fff !important;
  padding: 10px;
  width: fit-content;
  min-width: 170px;
  border-radius: 10px;
}
.custom-label.danger {
  background: #ff6969;
}
.custom-label.success {
  background: #25b15d;
}
.custom-label.warning {
  background: #ebb62e;
}

html[dir=rtl] body {
  font-family: "Cairo", sans-serif;
  text-align: right;
}
html[dir=rtl] .custom-checkbox .custom-control-label::before {
  left: unset;
  right: 0;
}
html[dir=rtl] .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, html[dir=rtl] .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  left: unset !important;
  right: 0 !important;
}
html[dir=rtl] ul.custom-ul li::before {
  right: 0px;
}
html[dir=rtl] .custom-accordion .card-header button {
  text-align: right;
}
html[dir=rtl] .custom-accordion .btn-link:after {
  right: unset;
  left: 20px;
}
html[dir=rtl] .custom-accordion.gray-arrow .card {
  margin-right: 0px !important;
  margin-left: 15px;
}
html[dir=rtl] .dropdown-menu {
  text-align: right;
}
html[dir=rtl] .modal .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}
html[dir=rtl] .activate-inputs,
html[dir=rtl] #count-down-numbers {
  direction: ltr !important;
}
html[dir=rtl] .input-with-submit-button a.btn {
  right: unset;
  left: 0;
}
html[dir=rtl] .form-group .country-code-container {
  direction: ltr !important;
}
html[dir=rtl] .dataTables_wrapper .dataTables_info {
  float: right;
}
html[dir=rtl] .dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: left;
}
html[dir=rtl] table.dataTable thead th,
html[dir=rtl] table.dataTable thead td {
  text-align: right;
}
html[dir=rtl] .option-container {
  padding-left: unset;
  padding-right: 30px;
}
html[dir=rtl] .option-container .checkmark {
  left: unset;
  right: 0;
}

@media all and (max-width: 800px) {
  .body-wrapper.homepage nav.top-nav-wrapper,
  .body-wrapper nav.top-nav-wrapper {
    background: RGBA(0, 0, 0, 0.95) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    display: none;
  }
  .body-wrapper.homepage nav.top-nav-wrapper.show-menu,
  .body-wrapper nav.top-nav-wrapper.show-menu {
    display: block;
  }
  .body-wrapper.homepage nav.top-nav-wrapper.show-menu .authorized-user-icon-wrapper .dropdown > a.menu-link,
  .body-wrapper nav.top-nav-wrapper.show-menu .authorized-user-icon-wrapper .dropdown > a.menu-link {
    color: #fff !important;
  }
  .body-wrapper.homepage nav.top-nav-wrapper.show-menu .authorized-user-icon-wrapper .dropdown > a.menu-link i,
  .body-wrapper nav.top-nav-wrapper.show-menu .authorized-user-icon-wrapper .dropdown > a.menu-link i {
    color: #fff !important;
  }
  .body-wrapper.homepage nav.top-nav-wrapper.show-menu .authorized-user-icon-wrapper .dropdown-menu,
  .body-wrapper nav.top-nav-wrapper.show-menu .authorized-user-icon-wrapper .dropdown-menu {
    transform: translate3d(0px, -90px, 0px) !important;
  }
  .body-wrapper.homepage nav.top-nav-wrapper .container,
  .body-wrapper nav.top-nav-wrapper .container {
    border-bottom: none;
    padding-bottom: 0px;
    height: 100%;
  }
  .body-wrapper.homepage nav.top-nav-wrapper .top-nav,
  .body-wrapper nav.top-nav-wrapper .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
  }
  .body-wrapper.homepage nav.top-nav-wrapper .top-nav .logo-menu-wrapper,
  .body-wrapper nav.top-nav-wrapper .top-nav .logo-menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .body-wrapper.homepage nav.top-nav-wrapper .top-nav .logo-menu-wrapper .logo-wrapper,
  .body-wrapper nav.top-nav-wrapper .top-nav .logo-menu-wrapper .logo-wrapper {
    margin-bottom: 20px;
  }
  .body-wrapper.homepage nav.top-nav-wrapper .top-nav .logo-menu-wrapper .menu-wrapper,
  .body-wrapper nav.top-nav-wrapper .top-nav .logo-menu-wrapper .menu-wrapper {
    width: 100%;
  }
  .body-wrapper.homepage nav.top-nav-wrapper .top-nav .logo-menu-wrapper .menu-wrapper ul.menu-items,
  .body-wrapper nav.top-nav-wrapper .top-nav .logo-menu-wrapper .menu-wrapper ul.menu-items {
    display: flex;
    flex-direction: column;
  }
  .body-wrapper.homepage nav.top-nav-wrapper .top-nav .logo-menu-wrapper .menu-wrapper ul.menu-items > li.menu-item > a.menu-link,
  .body-wrapper nav.top-nav-wrapper .top-nav .logo-menu-wrapper .menu-wrapper ul.menu-items > li.menu-item > a.menu-link {
    color: #fff;
    margin: 10px 0 !important;
    padding: 0px !important;
  }
  .body-wrapper.homepage nav.top-nav-wrapper #hide-menu-btn,
  .body-wrapper nav.top-nav-wrapper #hide-menu-btn {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
  }
  .filter-input-wrapper {
    min-width: 300px;
  }
  .mobile-bar-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .mobile-bar-menu-wrapper .logo-wrapper {
    padding: 10px;
  }
  .mobile-bar-menu-wrapper .logo-wrapper .logo {
    width: 50px;
  }
  .mobile-bar-menu-wrapper .toggle-menu-wrapper {
    padding: 10px;
    cursor: pointer;
  }
  .mobile-bar-menu-wrapper .toggle-menu-wrapper i {
    font-size: 28px;
  }
  .page-content-100,
  .page-content-50,
  .page-content-75 {
    width: 100% !important;
  }
  .activate-inputs-container .activate-inputs input {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }
}
.bootstrap-datetimepicker-widget table td.weekend {
  background-color: #fff;
}

.hijri-input-wrapper .datepicker thead th.datepicker-switch,
.hijri-input-wrapper .datepicker thead th.next span,
.hijri-input-wrapper .datepicker thead th.prev span {
  background: #fff;
  line-height: 0px !important;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
