// main start

:root {
    --primaryColor: #25b15d;
    --primaryColor50: #25b15d55;
    --primaryColor10: #25b15d10;
    --primaryColorDark: #1d8647;
    --gray: #b4b4b4;
    --grayLight: #fcfcfc;
    --grayExtraLight: #f7f7f7b1;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--grayLight);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6;
}

a {
    color: var(--primaryColor);
    text-decoration: none;
    &:hover {
        color: var(--primaryColorDark);
        text-decoration: none;
    }
}

.me-1 {
    margin-inline-end: 5px;
}

.me-2 {
    margin-inline-end: 10px;
}

.color-gray {
    color: var(--gray);
}

.btn-primary {
    color: #fff;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);

    &:hover {
        color: #fff;
        background-color: var(--primaryColorDark);
        border-color: var(--primaryColorDark);
    }
}

.btn-primary-light {
    color: var(--primaryColor);
    background-color: var(--primaryColor10);
    border-color: var(--primaryColor10);
}

.btn-outline-primary {
    color: var(--primaryColor);
    background-color: transparent;
    background-image: none;
    border-color: var(--primaryColor);

    &:hover {
        color: var(--primaryColorDark);
        background-color: transparent;
        border-color: var(--primaryColorDark);
    }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primaryColorDark);
    border-color: var(--primaryColorDark);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    color: var(--primaryColorDark);
    background-color: transparent;
    border-color: var(--primaryColorDark);
}

.btn {
    box-shadow: none !important;
    padding: 0.375rem 1.3rem;

    &.disabled,
    &:disabled {
        color: #fff;
        background-color: var(--gray);
        border-color: var(--gray);
    }

    &.btn-min-width {
        min-width: 210px;
    }
}

.page-content-75 {
    width: 75%;
}

.page-content-50 {
    width: 50%;
}

.page-content-100 {
    width: 100%;
}

.form-control {
    box-shadow: none !important;
    &:focus {
        border-color: var(--primaryColor);
    }
}

.color-primary {
    color: var(--primaryColor);
}

.reset-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    a {
        text-decoration: none;
    }
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.homepage {
        nav.top-nav-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: transparent;
            z-index: 2;
            border-bottom: none;
            .container {
                border-bottom: 1px solid #fff;
                ul.menu-items {
                    > li.menu-item {
                        > a.menu-link {
                            padding: 15px 25px;
                            color: #fff;
                        }
                    }
                }
                .authorized-user-icon-wrapper {
                    .user-name {
                        color: #fff;
                    }

                    .dropdown > a.menu-link {
                        i {
                            color: #fff;
                        }
                        &:hover {
                            i {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .main-page-wrapper {
            background-image: url(../images/pattern-green.png);
            background-size: 50%;
            background-position: center center;
            background-repeat: repeat;
        }
    }
}

.bold {
    font-weight: bold;
}

label {
    font-size: 14px;
}

.title-wrapper {
    .title {
        font-size: 22px;
    }
}

.text-icon-wrapper {
    display: flex;
    align-items: center;
    * {
        margin: 0;
        padding: 0;
    }

    i,
    .icon,
    img {
        margin-inline-end: 10px;
    }

    i,
    img {
        line-height: 0;
    }
}

.flag-sm {
    width: 16px;
}

.btn {
    border-radius: 10px;
}

.btn-link {
    font-weight: 400;
    color: var(--primaryColor);
    background-color: transparent;
    text-decoration: none !important;
    padding: 0px !important;

    &:hover {
        color: var(--primaryColor);
    }
}

.custom-card {
    background: #fff;
    border-radius: 10px;
    border: 1px solid var(--primaryColor50);
}

.main-page-wrapper {
    background-image: url(../images/pattern-green.png);
    background-size: 50%;
    background-position: -100px 0px;
    background-repeat: no-repeat;
    padding: 60px 0;

    &.no-bg {
        background: none !important;
    }
}

.dropdown {
    .dropdown-item:active {
        background-color: var(--primaryColor);
        color: #fff !important;
    }

    .menu-link {
        i {
            margin-inline-start: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.input-with-icon-wrapper {
    position: relative;
    i {
        position: absolute;
        top: 0;
        padding: 11px;
        background: transparent;
        opacity: 0.6;
    }

    input {
        padding-left: 30px;
        padding-right: 30px;
        &::placeholder {
            opacity: 0.6;
            font-size: 14px;
        }
    }

    .icon-image {
        position: absolute;
        top: 0;
        padding: 10px;
        width: 38px;
    }

    &.phone-wrapper {
        .iti__flag-container {
            right: 35px !important;
        }

        input.phone {
            padding-right: 92px;
        }
    }
}

.custom-checkbox {
    .custom-control-label {
        padding-inline-end: 25px;
        padding-inline-start: 25px;
    }

    .custom-control-label::before {
        background-color: #fff;
        border: 2px solid #1d8647;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: var(--primaryColorDark);
    }

    .custom-control-input:active ~ .custom-control-label::before {
        color: #fff;
        background-color: var(--primaryColorDark);
    }

    .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: none !important;
    }
}

.social-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    a.social-link {
        background: #fff;
        padding: 10px;
        border: 1px solid var(--primaryColor50);
        width: 190px;
        border-radius: 10px;
        margin: 0 5px;
        color: #000;
        img {
            margin: 0 5px;
        }
    }
}

.action-success-wrapper,
.action-failed-wrapper {
    padding: 10px;
    img {
        width: 220px;
    }
}

ul.custom-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        position: relative;
        padding-inline-start: 15px;
        &::before {
            content: "";
            position: absolute;
            background: var(--primaryColor);
            display: inline-block;
            width: 10px;
            height: 10px;
            top: 8px;
            left: 0px;
            border-radius: 50px;
        }
    }
}

.custom-accordion {
    .card {
        border-radius: unset !important;
        background: transparent;
        border: none;
    }

    .card-header {
        background: transparent;
        border-radius: unset !important;
        padding: 10px;
        border: none;

        button {
            border-radius: 0;
            width: 100%;
            text-align: left;
            padding: 15px 20px;
            font-size: 22px;
            color: var(--primaryColor);
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .btn-link {
        &:after {
            content: "\f106";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            right: 20px;
            font-size: 18px;
        }
        &.collapsed {
            &:after {
                content: "\f107";
            }
        }
    }
}

.fi,
.flag-icon {
    margin-inline-end: 5px;
}

.modal {
    .modal-content {
        border-radius: 20px;
    }
}

// components
.time-card {
    border: 1px solid var(--grayExtraLight);
    padding: 20px;
    border-radius: 10px;
    &:hover {
        box-shadow: var(--primaryColor50) 0px 8px 24px;
        border-color: #fff;
        *:not(.btn) {
            color: var(--primaryColor);
        }
    }
}

.instruction-card {
    text-align: center;
    img {
        width: 50px;
        margin-bottom: 10px;
    }
}

// top nav
nav.top-nav-wrapper {
    border-bottom: 1px solid var(--primaryColor50);
    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-menu-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                width: 80px;
            }

            ul.menu-items {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0;

                > li.menu-item {
                    &.dropdown {
                        .dropdown-menu {
                            > a.menu-link {
                                padding: 10px 15px;
                                text-decoration: none;
                                color: #000;
                                &.active {
                                    color: #fff;
                                    background: var(--primaryColor) !important;
                                }
                            }
                        }
                    }
                    > a.menu-link {
                        padding: 15px 25px;
                        text-decoration: none;
                        color: #000;
                        display: flex;
                        &.active {
                            color: var(--primaryColor) !important;
                        }
                    }
                }
            }
        }
        .authorized-user-icon-wrapper {
            .user-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
            }
            .dropdown > a.menu-link {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                i {
                    color: var(--primaryColor);
                    margin: 0 5px;
                    font-size: 14px;
                }
                &:hover {
                    i {
                        color: var(--primaryColorDark);
                    }
                }
            }
        }
    }

    #hide-menu-btn {
        display: none;
        cursor: pointer;
    }
}

.mobile-bar-menu-wrapper {
    display: none;
}

// footer
footer.footer-wrapper {
    background-color: var(--primaryColor);
    color: #fff;
    line-height: 1.8;
    font-size: 14px;
    background-image: url(../images/pattern-white.png);
    background-size: 50%;
    background-repeat: no-repeat;

    * {
        color: #fff;
    }

    .logo {
        width: 140px;
        margin-bottom: 20px;
    }

    ul {
        li {
            line-height: 2.5;
        }
    }

    .footer-body-wrapper {
        padding: 50px 0;
    }
}

// homepage
.intro-slider-wrapper {
    .swiper {
        width: 100%;
        height: 85vh;

        .swiper-pagination-bullet {
            background: #fff;
            width: 12px;
            height: 12px;
            opacity: 0.5;
        }

        .swiper-pagination-bullet-active {
            width: 40px !important;
            border-radius: 30px;
            opacity: 1;
        }

        .swiper-pagination {
            transform: translate3d(0, -60px, 0);
        }

        .swiper-slide {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                background: RGBA(0, 0, 0, 0.7);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
            .swiper-slide-content {
                height: 100%;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                color: #fff;
                z-index: 2;
                * {
                    z-index: 2;
                }
            }
        }
    }
}

.search-filter-wrapper {
    margin-top: -115px;
    z-index: 2;
    position: relative;

    .search-filter-form-container {
        background: #fff;
        border-radius: 25px;
        padding: 30px 30px;
    }
}

.select-date-wrapper {
    .select-date-container {
        background: #fff;
        border-radius: 25px;
        padding: 15px 15px;
    }
}

.available-time-cards {
    padding: 30px 30px;
    border-radius: 25px;

    .text-icon-wrapper.image {
        align-items: center;
        img {
            margin-top: 0px;
        }
    }
}

// media
@media all and (max-width: 800px) {
    .body-wrapper.homepage nav.top-nav-wrapper,
    .body-wrapper nav.top-nav-wrapper {
        background: RGBA(0, 0, 0, 0.95) !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        display: none;

        &.show-menu {
            display: block;
            .authorized-user-icon-wrapper {
                .dropdown > a.menu-link {
                    i {
                        color: #fff;
                    }
                    &:hover {
                        i {
                            color: #fff;
                        }
                    }
                }
                .dropdown-menu {
                    transform: translate3d(0px, -90px, 0px) !important;
                }
            }
        }

        .container {
            border-bottom: none;
            padding-bottom: 0px;
            height: 100%;
        }

        .top-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 100%;
            padding: 20px 0;

            .logo-menu-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                .logo-wrapper {
                    margin-bottom: 20px;
                }
                .menu-wrapper {
                    width: 100%;

                    ul.menu-items {
                        display: flex;
                        flex-direction: column;

                        > li.menu-item {
                            > a.menu-link {
                                color: #fff;
                                margin: 10px 0 !important;
                                padding: 0px !important;
                            }
                            &.dropdown {
                                .dropdown-menu {
                                    > a.menu-link {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #hide-menu-btn {
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            color: #fff;
        }
    }

    .mobile-bar-menu-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        .logo-wrapper {
            padding: 10px;
            .logo {
                width: 50px;
            }
        }

        .toggle-menu-wrapper {
            padding: 10px;
            cursor: pointer;
            i {
                font-size: 28px;
            }
        }
    }

    .page-content-100,
    .page-content-50,
    .page-content-75 {
        width: 100% !important;
    }
}

// RTL
html[dir="rtl"] {
    body {
        font-family: "Cairo", sans-serif;
        text-align: right;
    }

    .custom-checkbox {
        .custom-control-label::before {
            left: unset;
            right: 0;
        }
        .custom-control-input:checked ~ .custom-control-label {
            &::before,
            &::after {
                left: unset !important;
                right: 0 !important;
            }
        }
    }

    ul.custom-ul {
        li {
            &::before {
                right: 0px;
            }
        }
    }

    .custom-accordion .card-header button {
        text-align: right;
    }

    .custom-accordion .btn-link:after {
        right: unset;
        left: 20px;
    }

    .custom-accordion.gray-arrow .card {
        margin-right: 0px !important;
        margin-left: 15px;
    }

    .dropdown-menu {
        text-align: right;
    }

    .modal {
        .modal-header .close {
            margin: -1rem auto -1rem -1rem;
        }
    }
}

.change-quantity-wrapper {
    .counter {
        width: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        background: #f6f6f6;
        border-radius: 5px;
        overflow: hidden;



        input {
            width: 60px;
            height: 35px;
            border: 0;
            line-height: 0;
            font-size: 18px;
            text-align: center;
            background: #f6f6f6;
            color: #3f3f3f;
            appearance: none;
            outline: 0;

        }
        span {
            font-size: 18px;
            cursor: pointer;
            user-select: none;
            color: #fff;
            background: var(--primaryColor);
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 16px;
            }



        }
    }
}



.disabled, :disabled {
    opacity: 0.5 !important;
    cursor: default;
}



.iti {
    display: block;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: var(--primaryColor);
    border-color: var(--primaryColor);
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--primaryColor);
}

.flatpickr-months .flatpickr-month {
    height: 45px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom {
    position: relative !important;
    inset: unset !important;
}

.hijri-input-wrapper {
    display: flex;
    flex-direction: column;
    input.hijri-date-input {
        width: 100%;
        margin-bottom: 20px;
        opacity: 0;
        position: absolute;
        top: -20000;
    }
    .bootstrap-datetimepicker-widget .list-unstyled {
        padding: 0;
    }

    .datepicker {
        width: 100%;
    }

    .datepicker tbody tr > td.day.today {
        background: rgba(37, 177, 93, 0.5) !important;
    }

    .bootstrap-datetimepicker-widget table td span {
        color: var(--primaryColor);
        font-weight: bold;
    }

    .bootstrap-datetimepicker-widget table th.picker-switch {
        color: var(--primaryColor);
        font-size: 18px;
        padding: 10px;
    }

    .datepicker tbody tr > td span.hour.active,
    .datepicker tbody tr > td span.hour.active.focused:hover,
    .datepicker tbody tr > td span.hour.active:hover,
    .datepicker tbody tr > td span.hour.focused,
    .datepicker tbody tr > td span.hour.focused:hover,
    .datepicker tbody tr > td span.minute.active,
    .datepicker tbody tr > td span.minute.active.focused:hover,
    .datepicker tbody tr > td span.minute.active:hover,
    .datepicker tbody tr > td span.minute.focused,
    .datepicker tbody tr > td span.minute.focused:hover,
    .datepicker tbody tr > td span.month.active,
    .datepicker tbody tr > td span.month.active.focused:hover,
    .datepicker tbody tr > td span.month.active:hover,
    .datepicker tbody tr > td span.month.focused,
    .datepicker tbody tr > td span.month.focused:hover,
    .datepicker tbody tr > td span.year.active,
    .datepicker tbody tr > td span.year.active.focused:hover,
    .datepicker tbody tr > td span.year.active:hover,
    .datepicker tbody tr > td span.year.focused,
    .datepicker tbody tr > td span.year.focused:hover {
        background: var(--primaryColor);
    }

    .datepicker thead th.datepicker-switch,
    .datepicker thead th.next,
    .datepicker thead th.prev {
        font-size: 32px;
        color: var(--primaryColor);
        font-weight: bold;
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu:after,
.bootstrap-datetimepicker-widget.dropdown-menu:before {
    display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom {
    border: none !important;
}

.datepicker tbody tr > td {
    border: 1px solid #f2f2f2;
}

.datepicker tbody tr > td.day.active,
.datepicker tbody tr > td.day.active:hover,
.datepicker tbody tr > td.day.selected,
.datepicker tbody tr > td.day.selected:hover {
    background: var(--primaryColor);
}

.custom-control {
    padding: 0 !important;
}

/*  CUSTOM RADIO CSS START  */

.option-container {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    padding-left: 30px;
    text-transform: capitalize;
    margin-bottom: 10px;

    &.option-inline {
        display: inline-flex;
        width: auto;
    }

    &.right-circle {
        padding-left: 0px;
        .checkmark {
            left: unset;
            right: 0;
        }
    }

    &.disabled {
        opacity: 0.5;
    }

    .option-icon {
        width: 25px;
    }

    &:hover input ~ .checkmark {
        background-color: #fff;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-right: 0px;
        border: 2px solid var(--gray);
        background: #fff;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
        }
    }

    input:checked ~ .checkmark {
        background-color: var(--primaryColor);
        border: 2px solid var(--primaryColor);
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    &.checkbox-input {
        input:checked ~ .checkmark {
            &:after {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #fff;
            }
        }
    }
}

.default {
    .option-container {
        font-size: 14px;
        padding-left: 0;
        margin-right: 5px;
        flex-grow: 1;

        .checkmark {
            min-width: 65px;
            height: 40px;
            position: relative;
            border-radius: 10px;
            width: 100%;
            padding: 10px;
        }

        input[disabled] + .checkmark {
            opacity: 0.4 !important;
        }
    }

    .option-container input:checked ~ .checkmark {
        background-color: #fff;
    }

    .option-container .checkmark:after {
        background: unset;
    }
}

.colors {
    .option-container {
        padding-left: 0;
        margin-right: 10px;
        margin-bottom: 0;
        .checkmark {
            height: 23px;
            width: 23px;
            position: relative;
            border-radius: 500px;
            border: unset !important;
        }
    }

    .option-container input:checked ~ .checkmark {
        background-color: transparent;
    }

    .option-container .checkmark:after {
        content: "";
        position: absolute;
        color: #fff;
        top: -5px;
        left: -5px;
        background: transparent;
        width: 33px;
        height: 33px;
        border: 2px solid var(--primaryColor);
    }
}

.attributes-options.colors .option-container input:first-child:checked ~ .checkmark {
    margin-left: 5px;
}

.attributes-options.colors .option-container .checkmark {
    background-size: 100%;
}

.attributes-options-wrapper {
    display: flex;
}

.attributes-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    .options {
        margin-bottom: 20px;
    }
}

.attributes {
    .label {
        font-weight: bold;
        font-size: 14px !important;
        width: fit-content;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        margin-right: 10px;
        margin-top: 5px;
        width: 120px;
    }
}

/*  CUSTOM RADIO CSS START  */

.checkout-total-wrapper {
    height: auto;
    .price {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p.current-price {
            font-size: 22px;
            color: var(--primaryColor);
            font-weight: bold;
            margin: 0;
            margin-right: 10px;
        }
    }

    .old-price {
        font-size: 16px;
        color: #f00;
        text-decoration: line-through;
        margin-bottom: 0;
        line-height: 1.1;
        margin-inline-start: 8px;
    }
}

.select2-selection {
    -webkit-box-shadow: 0;
    box-shadow: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    color: #555555;
    font-size: 14px;
    outline: 0;
    min-height: 35px;
}

.select2-selection__rendered {
    padding: 0.2rem 0.7rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #25b15d;
    color: white;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: none;
}
