






<!DOCTYPE html>
<html>

<head>
    <title>Page Title 000</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>












<body style="font-family: din, sans-serif;font-size: 14px;padding: 0;margin: 0;">

    <div class="template-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 1124px;height: 1592px;position: relative;">

        <div class="template-content" style="font-family: din, sans-serif;font-size: 14px;width: 21.5cm;margin: auto;z-index: 9;height: 100%;position: relative;">

            <div class="template-header-wrapper" style="font-family: din, sans-serif;font-size: 14px;padding-top: 90px;margin-bottom: 65px;">
                <img src="template-header.jpg" style="width: 100%;font-family: din, sans-serif;font-size: 14px;" alt="">
            </div>

            <div class="scan-and-form-wrapper" style="font-family: din, sans-serif;font-size: 14px;margin-bottom: 15px;">


                <div class="scan-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 230px;background-color: #333;border-radius: 15px;overflow: hidden;display: inline-block;">
                    <div class="scan-image-wrapper" style="font-family: din, sans-serif;font-size: 14px;background: linear-gradient(45deg, rgba(15, 176, 94, 1) 10%, rgba(1, 143, 179, 1) 90%);padding: 8px;border-radius: 15px;overflow: hidden;color: #fff;margin-bottom: 10px;">
                        <img src="scan.jpg" style="width: 100%;font-family: din, sans-serif;font-size: 14px;border-radius: 12px;overflow: hidden;" alt="">
                    </div>
                    <div class="scan-text-wrapper" style="font-family: din, sans-serif;font-size: 14px;color: #fff;text-align: center;padding-bottom: 5px;">
                        <p style="margin-bottom: 10px;font-family: din, sans-serif;font-size: 22px;margin: 0px;"> نرجو ابراز التذكرة عند المدخل </p>
                        <p style="font-family: din, sans-serif;font-size: 22px;margin: 0px;"> Veuillez présenter votre billet à l'entrée </p>
                    </div>
                </div>

                <div class="form-and-title-wrapper" style="font-family: din, sans-serif;font-size: 14px;">

                    <div class="section-title-wrapper" style="font-family: din, sans-serif;font-size: 14px;position: absolute;top: 300px;right: 0;width: 14cm;background: rgba(15, 176, 94, 1);border-radius: 20px;color: #fff;">
                        <p class="ar" style="font-family: din, sans-serif;font-size: 28px;line-height: 0.8;padding: 0 20px;float: right;"> تفاصيل التذكرة </p>
                        <p class="en" style="font-family: din, sans-serif;font-size: 28px;line-height: 0.8;padding: 0 20px;"> Détails du billet </p>
                    </div>

                    <div class="form-wrapper" style="font-family: din, sans-serif;font-size: 14px;position: absolute;width: 14cm;top: 10.5cm;right: 0;">

                        <div class="form-group" style="font-family: din, sans-serif;font-size: 14px;width: 100%;margin-bottom: 25px;">

                            <div class="title-wrapper" style="font-family: din, sans-serif;font-size: 14px;margin-bottom: 10px;">
                                <div class="en-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;">
                                    <p class="en" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> Name </p>
                                </div>

                                <div class="ar-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;text-align: right;">
                                    <p class="ar" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> الأسم </p>
                                </div>
                            </div>

                            <input type="text" value="waleed saeed" style="font-family: din, sans-serif;font-size: 18px;width: 100%;text-align: center;height: 36px;background: #f3f3f3;font-weight: bold;border-radius: 10px;border: none !important;outline: none !important;">

                        </div>

                        <div class="tow-forms-wrapper" style="font-family: din, sans-serif;font-size: 14px;">

                            <div class="form-group w-50 d-inline left" style="font-family: din, sans-serif;font-size: 14px;width: 48%;margin-bottom: 25px;display: inline-block;">

                                <div class="title-wrapper" style="font-family: din, sans-serif;font-size: 14px;margin-bottom: 10px;">
                                    <div class="en-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;">
                                        <p class="ar" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> Ticket Number </p>
                                    </div>

                                    <div class="ar-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;text-align: right;">
                                        <p class="en" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> رقم التذكرة </p>
                                    </div>
                                </div>

                                <input type="text" value="17963726" style="font-family: din, sans-serif;font-size: 18px;width: 100%;text-align: center;height: 36px;background: #f3f3f3;font-weight: bold;border-radius: 10px;border: none !important;outline: none !important;">

                            </div>


                            <div class="form-group w-50 d-inline right" style="font-family: din, sans-serif;font-size: 14px;width: 48%;margin-bottom: 25px;display: inline-block;margin-left: 2.5%;">

                                <div class="title-wrapper" style="font-family: din, sans-serif;font-size: 14px;margin-bottom: 10px;">
                                    <div class="en-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;">
                                        <p class="en" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> Ticket Type </p>
                                    </div>

                                    <div class="ar-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;text-align: right;">
                                        <p class="ar" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> نوع التذكرة </p>
                                    </div>
                                </div>

                                <input type="text" value="General Admission -" style="font-family: din, sans-serif;font-size: 18px;width: 100%;text-align: center;height: 36px;background: #f3f3f3;font-weight: bold;border-radius: 10px;border: none !important;outline: none !important;">

                            </div>

                        </div>

                        <div class="tow-forms-wrapper" style="font-family: din, sans-serif;font-size: 14px;">

                            <div class="form-group w-50 d-inline left" style="font-family: din, sans-serif;font-size: 14px;width: 48%;margin-bottom: 25px;display: inline-block;">

                                <div class="title-wrapper" style="font-family: din, sans-serif;font-size: 14px;margin-bottom: 10px;">
                                    <div class="en-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;">
                                        <p class="en" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> Tour Time </p>
                                    </div>

                                    <div class="ar-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;text-align: right;">
                                        <p class="ar" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> وقت الجولة </p>
                                    </div>
                                </div>

                                <input type="text" value="22:30 Mon 10 Apr 2023" style="font-family: din, sans-serif;font-size: 18px;width: 100%;text-align: center;height: 36px;background: #f3f3f3;font-weight: bold;border-radius: 10px;border: none !important;outline: none !important;">

                            </div>


                            <div class="form-group w-50 d-inline right" style="font-family: din, sans-serif;font-size: 14px;width: 48%;margin-bottom: 25px;display: inline-block;margin-left: 2.5%;">

                                <div class="title-wrapper" style="font-family: din, sans-serif;font-size: 14px;margin-bottom: 10px;">
                                    <div class="en-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;">
                                        <p class="en" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> Date </p>
                                    </div>

                                    <div class="ar-wrapper" style="font-family: din, sans-serif;font-size: 14px;width: 49%;display: inline-block;text-align: right;">
                                        <p class="ar" style="font-family: din, sans-serif;font-size: 18px;color: #656565;display: inline-block;margin: 0;"> التاريخ </p>
                                    </div>
                                </div>

                                <input type="text" value="10 Apr 2023" style="font-family: din, sans-serif;font-size: 18px;width: 100%;text-align: center;height: 36px;background: #f3f3f3;font-weight: bold;border-radius: 10px;border: none !important;outline: none !important;">

                            </div>

                        </div>

                    </div>


                </div>




            </div> <!-- scan-and-form-wrapper -->

            <div class="text-with-star-icon-wrapper" style="font-family: din, sans-serif;font-size: 14px;background: #e1e2e1;border-radius: 10px;margin-right: 20px;min-height: 60px;padding-left: 10px;padding-bottom: 5px;padding-right: 40px;position: relative;">
                <img src="star.png" class="star-image" style="font-family: din, sans-serif;font-size: 14px;height: 65px;position: absolute;top: 0;right: -25px;">
                <p class="ar" style="font-family: din, sans-serif;font-size: 20px;margin: 0;direction: rtl;margin-bottom: 5px;"> هذه التذكرة صالحة في وقت الجولة فقط نرجو الحضور قبل وقت الجولة <span class="special-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: linear-gradient(45deg, rgba(15, 176, 94, 1) 10%, rgba(1, 143, 179, 1) 90%);padding: 1px 5px;border-radius: 5px;display: inline-block;margin-top: 2px;"> بـ 5 دقائق </span> </p>
                <p class="en" style="font-family: din, sans-serif;font-size: 20px;margin: 0;">

                    Ce billet est Veuillez arriver avant l'heure de la visite
                    <span class="special-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: linear-gradient(45deg, rgba(15, 176, 94, 1) 10%, rgba(1, 143, 179, 1) 90%);padding: 1px 5px;border-radius: 5px;display: inline-block;margin-top: 2px;"> Dans 5 minutes</span>
                </p>
            </div>

            <div class="main-section-title-wrapper" style="font-family: din, sans-serif;font-size: 14px;direction: rtl;text-align: center;">
                <p class="ar" style="font-family: din, sans-serif;font-size: 32px;display: inline-block;font-weight: bold;margin-left: 10px;"> تعليمات الدخول </p>
                <p class="en" style="font-family: din, sans-serif;font-size: 32px;display: inline-block;font-weight: bold;"> Entry Instructions </p>
            </div>

            <div class="instruction-cards" style="font-family: din, sans-serif;font-size: 14px;text-align: center;margin-bottom: 30px;">

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام الالتزام الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>

                <div class="instruction-card " style="font-family: din, sans-serif;font-size: 14px;text-align: center;display: inline-block;width: 19.5%;margin: auto;margin-bottom: 10px;vertical-align: top;">
                    <img src="../assets/images/instructions/inst-001.png" class="img-fluid" alt="" style="font-family: din, sans-serif;font-size: 14px;max-width: 100%;width: 55px;height: 55px;object-fit: contain;margin-bottom: 5px;">
                    <div class="instruction-text" style="font-family: din, sans-serif;font-size: 14px;color: #fff;background: #3c3c3c;padding: 3px;border-radius: 10px;">
                        <p class="mb-0" style="font-family: din, sans-serif;font-size: 12px;margin-bottom: 0px;margin: 0;"> الالتزام بتعليمات المنظمين </p>
                        <p style="font-family: din, sans-serif;font-size: 12px;margin: 0;"> Respect des consignes des organisateurs </p>
                    </div>
                </div>
            </div>

            <div class="footer-text-wrapper" style="font-family: din, sans-serif;font-size: 14px;margin-bottom: 100px;font-weight: bold;">
                <p class="ar" style="font-family: din, sans-serif;font-size: 18px;display: inline-block;float: right;"> تطبق الشروط و الأحكام </p>
                <p class="en" style="font-family: din, sans-serif;font-size: 18px;display: inline-block;"> Appliquer les termes et conditions </p>
            </div>

            <div class="footer-icons-wrapper" style="font-family: din, sans-serif;font-size: 14px;text-align: right;">

                <p style="font-family: din, sans-serif;font-size: 14px;margin: 0;display: inline-block;margin-right: 10px;"> <img src="icon-01.png" style="width: 25px;font-family: din, sans-serif;font-size: 14px;display: inline-block;vertical-align: top;" alt=""> <span style="font-family: din, sans-serif;font-size: 16px;display: inline-block;margin-top: 5px;"> salamfairs.com.sa</span> </p>

                <p style="font-family: din, sans-serif;font-size: 14px;margin: 0;display: inline-block;margin-right: 10px;"> <img src="icon-02.png" style="width: 25px;font-family: din, sans-serif;font-size: 14px;display: inline-block;vertical-align: top;" alt=""> <span style="font-family: din, sans-serif;font-size: 16px;display: inline-block;margin-top: 5px;"> @SalamForFairs </span> </p>

                <p style="font-family: din, sans-serif;font-size: 14px;margin: 0;display: inline-block;margin-right: 10px;"> <img src="icon-03.png" style="width: 25px;font-family: din, sans-serif;font-size: 14px;display: inline-block;vertical-align: top;" alt=""> <span style="font-family: din, sans-serif;font-size: 16px;display: inline-block;margin-top: 5px;"> Salam_ForFairs </span> </p>

            </div>



        </div> <!-- template-content -->

        <div class="bottom-shape-bg-wrapper" style="font-family: din, sans-serif;font-size: 14px;position: absolute;left: 0px;bottom: 0;width: 380px;">
            <img src="bg-shape.svg" class="shape" alt="" style="font-family: din, sans-serif;font-size: 14px;width: 100%;">
        </div>


    </div> <!-- template-wrapper -->



</body>


</html>